snippet c "Code block" b
\`\`\`$1
\`\`\`
endsnippet

snippet h1 "h1" b
#$1
endsnippet

snippet h2 "h2" b
##$1
endsnippet

snippet h3 "h3" b
###$1
endsnippet

snippet h4 "h4" b
####$1
endsnippet

snippet tb "Bold text" b
**$1**
endsnippet

snippet ti "Italic text" b
*$1*
endsnippet

snippet tbi "Bold Italic text" b
***$1***
endsnippet

snippet link "Link" b
[$1]($1)
endsnippet

snippet img "image" b
![$1]($1)
endsnippet


