[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "/Users/benjaminafonso/.vim/bundle/typescript-vim"]
	path = /Users/benjaminafonso/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
